@{
    ViewBag.Title = "Аттестационная ведомость";
    BRSGSTOU.Models.dbBRSEntities contextDB = new BRSGSTOU.Models.dbBRSEntities();
    int godServera = int.Parse(DateTime.Now.Year.ToString().Substring(DateTime.Now.Year.ToString().Length - 2));
    int godGruppi = int.Parse(ViewBag.Dannie[1].Substring(ViewBag.Dannie[1].Trim().IndexOf("-") + 1, 2));
    int semestri = (godServera - godGruppi) * 2;
    string obrazovatelniyGod = "";
    if (DateTime.Now.Month >= 9)
    {
        obrazovatelniyGod = DateTime.Now.Year.ToString() + "/" + (DateTime.Now.Year + 1).ToString();
    }
    else
    {
        obrazovatelniyGod = (DateTime.Now.Year - 1).ToString() + "/" + DateTime.Now.Year.ToString();
    }

    string textVvedomostOSemestre = "";
    if ((DateTime.Now.Month.ToString() == "1") | (DateTime.Now.Month.ToString() == "2") | (DateTime.Now.Month.ToString() == "3") | (DateTime.Now.Month.ToString() == "4") | (DateTime.Now.Month.ToString() == "5" | (DateTime.Now.Month.ToString() == "6")))
    {
        textVvedomostOSemestre = "весеннем (" + semestri + ")";

    }
    else
    {
        if (semestri == 0)
        {
            textVvedomostOSemestre = "осеннем (1)";
        }
        else
        {
            textVvedomostOSemestre = "осеннем (" + (semestri + 1) + ")";
        }
    }
    string Facultet_ID = Request.QueryString.Get(0);
    string Gruppa_ID = Request.QueryString.Get(1);
    string Disciplina_ID = Request.QueryString.Get(2);
    string FacultetName = ViewBag.Dannie[0];
    string GruppaName = ViewBag.Dannie[1];
    int tek = 15, rub = 20;
    if (ViewBag.DiscipliniVM.Contains(ViewBag.Dannie[2]))
    {
        tek = 10;
        rub = 25;
    }
}



<div class="ssilki">

    <p>@Html.ActionLink("Факультеты", "ViborFaculteta", "Student")</p>
    <img class="slesh" src="../../Content/slesh.png" />
    <p>@Html.ActionLink(@FacultetName, "ViborGruppi", "Student", new { Facultet = Facultet_ID }, null)</p>
    <img class="slesh" src="../../Content/slesh.png" />
    <p>@Html.ActionLink(@GruppaName, "ViborDisciplini", "Student", new { Facultet = Facultet_ID, Gruppa = Gruppa_ID }, null)</p>
    <img class="slesh" src="../../Content/slesh.png" />
    <p>Баллы по дисциплине "@ViewBag.Dannie[2]"</p>
</div>

<div style="text-align: center; clear: left;">
    <div style="font-weight: 600; padding: 3px;">АТТЕСТАЦИОННАЯ ВЕДОМОСТЬ</div>
    <div style="padding: 3px;">В <b>@textVvedomostOSemestre</b> семестре @obrazovatelniyGod учебного года факультета @ViewBag.Dannie[0]</div>
    <div style="padding: 3px;">группы <b>@ViewBag.Dannie[1]</b> по дисциплине «@ViewBag.Dannie[2]»  (@ViewBag.VidOtchetnosti)</div>
</div>
<table class="StilTable">
    <tr>
        <td rowspan="3" style=" text-align: center;"></td>
        <td rowspan="3" style="padding: 5px !important;"></td>
        <td colspan="3" style="font-weight: 600; text-align: center;border-right:2px solid; border-left:2px solid;">1-ая аттестация</td>
        <td colspan="4" style="font-weight: 600; text-align: center;border-right:2px solid;">2-я аттестация</td>
        <td rowspan="3" style="font-style: italic; text-align: center;">Досдача<br /> (до 20 баллов)</td>
        <td rowspan="3" style="font-style: italic; text-align: center;">Премиальные<br /> (до 20 баллов)</td>
        <td rowspan="3" style="font-style: italic; font-weight: 600;  text-align: center;">Итого<br>
            <span style="font-size: 1em;">(баллы)</span></td>

    </tr>
    <tr>
        <td style=" text-align: center; vertical-align: middle; height: 30px; border-left:2px solid;">Посещаем.</td>
        <td >Текущая атт.</td>
        <td style="border-right:2px solid;">Рубежная атт.</td>
        <td>Посещаем.</td>
        <td>Текущая атт.</td>
        <td>Рубежная атт.</td>
        <td style=" border-right:2px solid;">Самост. работа</td>
    </tr>
    <tr>
        <td style="font-style: italic; text-align: center; height: 40px; vertical-align: middle; border-left:2px solid;">Баллы (0-5)</td>
        <td style="font-style: italic; text-align: center;">Баллы (0-@tek)</td>
        <td style="font-style: italic; text-align: center;border-right:2px solid;">Баллы (0-@rub)</td>
        <td style="font-style: italic; text-align: center;">Баллы (0-10)</td>
        <td style="font-style: italic; text-align: center;">Баллы (0-@tek)</td>
        <td style="font-style: italic; text-align: center;">Баллы (0-@rub)</td>
        <td style="font-style: italic; text-align: center; border-right:2px solid;">Баллы (0-15)</td>
    </tr>
    <tr style="border:2px solid;background:rgb(172, 172, 172);">
        <td>№</td>
        <td>1</td>
        <td style="border-left:2px solid;">2</td>
        <td>3</td>
        <td style="border-right:2px solid;">4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td style="border-right:2px solid;">8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
    </tr>
    @{int i = 1;}
    @foreach (BRSGSTOU.Models.Vedomost b in ViewBag.Vedomost)
    {
        <tr>
            <td>@i</td>
            <td style="text-align: left; padding: 3px;border-right:2px solid;">
                @b.StudentName
            </td>
            <td>@b.Pos1</td>
            <td>@b.Tek1</td>
            <td style="border-right:2px solid;">@b.Rub1</td>
            <td>@b.Pos2</td>
            <td>@b.Tek2</td>
            <td>@b.Rub2</td>
            <td style="border-right:2px solid;">@b.Samost</td>
            <td>@b.Dosdacha</td>
            <td>@b.Premial</td>
            <td>@b.Itog</td>

            @{i++;}
        </tr>
        
    }

</table>

<div style="border-bottom:1px solid #5D6BB3 !important; text-align:center;font-size:20pt;color:#5D6BB3;margin-top:25px;padding-top:15px;font-weight:700;">
    Журнал
</div>


<!--Показ журнала-->
<div style="text-align: center; clear: left;">
    <div style="font-weight: 600; padding: 3px; margin-bottom: 10px;">Учет посещаемости студентов группы @GruppaName по дисциплине "@ViewBag.Dannie[2]"</div>
</div>
<table class="jurnalTable">
    <tr>
        <td>№ П/П
        </td>
        <td>ФИО Студента
        </td>
        @foreach (BRSGSTOU.Models.tableZanyatiy z in ViewBag.ChisloZanyatiy)
        {
            if (Gruppa_ID == z.ID_Gruppi.ToString() && Disciplina_ID == z.ID_Disciplini.ToString())
            {
            <td style="max-height:80px;padding-top:65px; padding-bottom:5px;">
                 <div class="rotate">@z.Vremya.ToString("d")</div>
            </td>
            }
        }
    </tr>

    @using (Html.BeginForm("JournalForSubjectofGrupp", "Journal", FormMethod.Post, new { id = "jurnalForm" }))
    {

        int nomer = 1;
        foreach (BRSGSTOU.Models.tableStudents s in ViewBag.Students)
        {
            string studID = s.ID.ToString();
            
        <tr>
            <td style="min-width:30px;">
                @nomer
            </td>

            <td style="text-align: left;min-width:230px;">
                @s.Name
            </td>
            @{
            var zanstud =
                from z in contextDB.tablePoseshenie
                where z.ID_Studenta == s.ID
                select z;
            }
            @foreach (BRSGSTOU.Models.tablePoseshenie z in zanstud)
            {
                if (z.ID_Studenta == s.ID && s.ID_Gruppi.ToString() == Gruppa_ID && z.tableZanyatiy.ID_Disciplini.ToString() == Disciplina_ID)
                {
                <td>
                    @if (z.Otmetka == 1)
                    {
                        <img src="../../Content/p.png" style="width: 10px; height: 10px;" />
                    }
                    else
                    {
                        <img src="../../Content/n.png" style="width: 10px; height: 10px;" />
                    }
                </td>
                }
            }
        </tr>
            nomer++;
        }

    }

</table>
