@{
    ViewBag.Title = "Панель администратора";
}
  <div class="ssilki">
        <p>@Html.ActionLink("Личный кабинет", "MainPanel", "Admin")</p>
          <img class="slesh" src="../../Content/slesh.png" />
        <p>Панель администратора</p>
  </div>
<div id="center_loader">
    <img src="../../Content/loader.gif" / width="40" height="40">
</div>
   <p>@Html.ActionLink("Статистика", "PDFStatistic", "Admin", new {Facultet_ID=ViewBag.Facultet_ID }, new { @class = "fonSsilki", @onclick="$('#center_loader').show();" })</p>
      <hr class="styletwo" />
   <p>@Html.ActionLink("Допуск студентов к сессии", "SpisokGrupp", "Dopusk", null, new { @class = "fonSsilki" })</p>
      <hr class="styletwo" />
   <p>@Html.ActionLink("Добавить дисциплину для группы", "AddDisciplin", "Change", null, new { @class = "fonSsilki" })</p>
      <hr class="styletwo" />
   <p>@Html.ActionLink("Добавить преподавателя", "AddTeacher", "Change", null, new { @class = "fonSsilki" })</p>
      <hr class="styletwo" />
   <p>@Html.ActionLink("Изменить преподавателя дисциплины", "ChangePrepodDisciplin", "Change", null, new { @class = "fonSsilki" })</p>
      <hr class="styletwo" />
   <p>@Html.ActionLink("Изменить название группы", "ChangeGruppName", "Change", null, new { @class = "fonSsilki" })</p>
      <hr class="styletwo" />
   <p>@Html.ActionLink("Изменить ФИО студента", "ChangeFioStudent", "Change", null, new { @class = "fonSsilki" })</p>
      <hr class="styletwo" />
   <p>@Html.ActionLink("Добавить студента", "AddStudent", "Change", null, new { @class = "fonSsilki" })</p>
      <hr class="styletwo" />
   <p>@Html.ActionLink("Удалить дисциплину группы", "DelDisciplin", "Change", null, new { @class = "fonSsilki" })</p>
      <hr class="styletwo" />
   <p>@Html.ActionLink("Удалить студента", "DelStudent", "Change", null, new { @class = "fonSsilki" })</p>
      <hr class="styletwo" />