@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Журнал для распечатки</title>
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div style="height: 300px; text-align: center; font-size: 15pt;">
        Грозненский государственный нефтяной технический университет
        <br />
        имени академика М.Д. Миллионщикова
        <hr />
    </div>
    @{string semestr = "";
        string data = "";
        if (DateTime.Now.Month > 0 && DateTime.Now.Month < 9)
        {
            semestr = "весенний";
            data = (DateTime.Now.Year - 1) + "-" + DateTime.Now.Year.ToString();
        }
        else
        {
            semestr = "осенний";
            data = DateTime.Now.Year + "-" + (DateTime.Now.Year + 1).ToString();
        }
    }

    <div style="height: 130px; text-align: center; font-size: 30pt;">
        Журнал преподавателя
        <br />
        '@ViewBag.PrepodName'<br />
        на @semestr семестр @data уч.г.
    </div>
    <br />
    <div style="min-height: 800px; max-height: 600px; text-align: left; font-size: 15pt; padding-left: 150px;">
        @foreach (BRSGSTOU.Models.TeachersData pd in ViewBag.PrinadlegnostDisciplin)
        {
            <p style="margin: 0px; text-align: left; padding-left: 50px;">@pd.Gruppa - @pd.Disciplina</p>
        }
    </div>
    <div style="height: 20px; text-align: center; font-size: 10pt;">г. Грозный - @DateTime.Now.Year г.</div>
    <div style="page-break-after: always"></div>
    @foreach (BRSGSTOU.Models.TeachersData pd in ViewBag.PrinadlegnostDisciplin)
    {
        <div style="text-align: center; margin-top: 20px; font-weight: 600;">@pd.Gruppa - @pd.Disciplina</div>
        <table class="JournalPechat">
            <tr>
                <td style="text-align: center;">№П/П</td>
                <td style="text-align: center; min-width: 300px;">ФИО Студета</td>
                @for (int q = 0; q < 25; q++)
                {
                    <td style="padding-bottom: -10px;">
                        <svg>
                            <text x="-95" y="12" transform="rotate(-90)">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ @DateTime.Now.Year
                            </text>
                        </svg>
                    </td>
                }
            </tr>

            @{
                string style = "";
                int i = 1;
            }
            @foreach (BRSGSTOU.Models.tableStudents s in ViewBag.Students)
            {
                if (s.ID_Gruppi == pd.Gruppa_ID)
                {
                }
                else
                {
                    continue;
                }

                if (i % 2 == 0)
                {
                    style = "background-color:#ebebeb !important;";
                }
                else
                {
                    style = "";
                }

                <tr style="@style">
                    <td>@i</td>
                    <td>
                        @if (s.Name.Length > 35)
                        {
                            string[] fio = s.Name.Split(' ');
                            string _fio = "";
                            foreach (string f in fio)
                            {
                                if (_fio == "")
                                {
                                    _fio = f;
                                }
                                else
                                {
                                    _fio += " " + f.Substring(0, 1) + ". ";
                                }
                            }
                            @_fio
                        }
                        else
                        {
                            @s.Name
                        }
                    </td>
                    @for (int q = 0; q < 25; q++)
                    {
                        <td></td>
                    }
                </tr>
                i++;
            }
            @for (int j = i; j <= 40; j++)
            {
                if (j % 2 == 0)
                {
                    style = "background-color:#ebebeb !important;";
                }
                else
                {
                    style = "";
                }

                <tr style="@style">
                    <td>@j</td>
                    @for (int q = 0; q < 26; q++)
                    {
                        <td></td>
                    }
                </tr>
            }
        </table>
        <div style="page-break-after: always"></div>
        <br />
        <table class="JournalPechat">
            <tr>
                @for (int q = 0; q < 30; q++)
                {
                    <td style="padding-bottom: -10px;">
                        <svg>
                            <text x="-95" y="12" transform="rotate(-90)">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ @DateTime.Now.Year
                            </text>
                        </svg>
                    </td>
                }
                <td style="padding-bottom: -10px;">
                    <svg>
                        <text x="-80" y="12" transform="rotate(-90)">
                            Пос. 1 Атт
                        </text>
                    </svg>
                </td>
                <td style="padding-bottom: -10px;">
                    <svg>
                        <text x="-80" y="12" transform="rotate(-90)">
                            Тек. 1 Атт
                        </text>
                    </svg>
                </td>
                <td style="padding-bottom: -10px;">
                    <svg>
                        <text x="-80" y="12" transform="rotate(-90)">
                            Руб. 1 Атт
                        </text>
                    </svg>
                </td>
                <td style="padding-bottom: -10px;">
                    <svg>
                        <text x="-80" y="12" transform="rotate(-90)">
                            Пос. 2 Атт
                        </text>
                    </svg>
                </td>
                <td style="padding-bottom: -10px;">
                    <svg>
                        <text x="-80" y="12" transform="rotate(-90)">
                            Тек. 2 Атт
                        </text>
                    </svg>
                </td>
                <td style="padding-bottom: -10px;">
                    <svg>
                        <text x="-80" y="12" transform="rotate(-90)">
                            Руб. 2 Атт
                        </text>
                    </svg>
                </td>
                <td style="padding-bottom: -10px;">
                    <svg>
                        <text x="-80" y="12" transform="rotate(-90)">
                            Самост.
                        </text>
                    </svg>
                </td>
                <td style="padding-bottom: -10px;">
                    <svg>
                        <text x="-80" y="12" transform="rotate(-90)">
                            Итого
                        </text>
                    </svg>
                </td>
                <td style="text-align: center;">№П/П</td>

            </tr>
            @for (int j = 1; j <= 40; j++)
            {
                if (j % 2 == 0)
                {
                    style = "background-color:#ebebeb !important;";
                }
                else
                {
                    style = "";
                }
                <tr style="@style">

                    @for (int q = 0; q < 38; q++)
                    {
                        <td></td>
                    }
                    <td style="text-align: center;">@j</td>
                </tr>
            }
        </table>
        <div style="page-break-after: always"></div>
                }
</body>
</html>
