@{
    ViewBag.Title = "Удалить студента";
}

<div class="ssilki">
    <p>@Html.ActionLink("Личный кабинет", "MainPanel", "Admin")</p>
    <img class="slesh" src="../../Content/slesh.png" />
    <p>@Html.ActionLink("Панель администратора", "AdminPanel", "Admin")</p>
    <img class="slesh" src="../../Content/slesh.png" />
    <p>Удаление студента</p>
</div>
     <div id="fixed_con"></div>
    @if(ViewBag.Message=="ok")
    {
        <script type="text/javascript">
            createInfoBlock(3, false, "Студент удален");
        </script>
    }
1. Выберите из списка студента которого необходимо удалить<br />
2. Нажмите кнопку "Удалить студента".<br />
<br /><br />

@using( Html.BeginForm("DelStudent","Change",FormMethod.Post))
{
 
    <select size="20" name="idStudenta">
        @foreach(BRSGSTOU.Models.ModelStudent s in  ViewBag.Students)
        {
          <option value="@s.ID_Studenta">@s.GruppName - @s.FIOStudenta</option>
        }
    </select>
    <br /><br />
    <input type="submit" value="Удалить студента" />
}
